<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background: rgb(177, 177, 177);
            text-align: center;
        }
        nav{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        li{
            float:left;
        }
        a{
            display: block;
            padding: 10px;
        }
        ul{
            list-style-type: none;
        }
        table{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <meta charset="utf-8">
    <title>Hogan + Jadzak App</title>


</head>
<body>
    <nav>
        <ul>
            <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="./Allergies">Allergies</a>
        </li>
        <li>
            <a href="./appointments">Appointments</a>
        </li>
        <li>
            <a href="./illnesses">Illnesses</a>
        </li>
        <li>
            <a href="./patient_procedures">Patient Procedures</a>
        </li>
        <li>
            <a href="./patient_allergies">Patient Allergies</a>
        </li>
        <li>
            <a href="./patient_illnesses">Patient Illnesses</a>
        </li>
        <li>
            <a href="./patient_tests">Patient Tests</a>
        </li>
        <li>
            <a href="./prescriptions">Prescriptions</a>
        </li>
        <li>
            <a href="./procedures">Procedures</a>
        </li>
        <li>
            <a href="./providers">Providers</a>
        </li>
        <li>
            <a href="./Tests">Tests</a>
        </li>
        <li>
            <a href="./patients">Patients</a>
        </li>
        </ul>
    </nav>

    {{{body}}}

</body>
</html>