<!-- index.hbs -->
<h1>Procedures Page</h1>


{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.procedure_id}}</td>
            <td>{{this.procedure_name}}</td>
            <td>
                <form id="delete-procedure-form-ajax"action="/delete-procedure"method="POST">
                    <button type="submit" name="delete_procedureid" value="{{this.procedure_id}}">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>To add a new Procedure, please enter the information below and click 'Submit'!</p>
<form id="add-procedure-form-ajax"action="/add-procedure"method="POST">
    <label for="procedure-name">Name: </label>
    <input type="text" name="input-procedurename" id="input-procedurename">
    <input type="submit">
</form>


