<!-- index.hbs -->
<h1>Tests Page</h1>


{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.test_id}}</td>
            <td>{{this.name}}</td>
            <td>
                <form id="delete-test-form-ajax"action="/delete-test"method="POST">
                    <button type="submit" name="delete_testid" value="{{this.test_id}}">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>To add a new Test, please enter the information below and click 'Submit'!</p>
<form id="add-test-form-ajax"action="/add-test"method="POST">
    <label for="test-name">Name: </label>
    <input type="text" name="input-testname" id="input-testname">
    <input type="submit">
</form>